# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Marcin\OneDrive\OneDrive - Politechnika Lodzka\Semestr 6\SONPM (Systemy Operacyjne Na Platformach Mobilnych)\calculator-android-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
